<h3>Alta de empleado</h3>
<form name="myForm" (ngSubmit)="onSubmit()" #empForm="ngForm">
    <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" required [(ngModel)]="empleado.dni"
            pattern="(^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$)|(^[XYZ][0-9]{7}[TRWAGMYFPDXBNJZSQVHLCKET]$)" name="dni" #dni="ngModel">
    </div>

    <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
        <div *ngIf="dni.errors.required">El DNI es obligatorio</div>
        <div *ngIf="dni.errors.pattern">El DNI no es válido</div>
    </div>
    <div *ngIf="dni.valid" class="alert alert-success">
        DNI Válido
    </div>



    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="empleado.nombre" name="nombre"
            #nombre="ngModel">
    </div>

    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
        <div *ngIf="nombre.errors.required">El Nombre es obligatorio</div>
    </div>
    <div *ngIf="nombre.valid" class="alert alert-success">
        Nombre Válido
    </div>

    <div class="form-group">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" id="sexo" required [(ngModel)]="empleado.sexo" name="sexo"
            pattern="[MF]{1}" placeholder="M o F" #sexo="ngModel">
    </div>

    <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="alert alert-danger">
        <div *ngIf="sexo.errors.pattern">El sexo debe ser M o F</div>
        <div *ngIf="sexo.errors.required">El sexo es obligatorio</div>
    </div>
    <div *ngIf="sexo.valid" class="alert alert-success">
        Sexo Válido
    </div>

    <div class="form-group">
        <label for="categoria">Categoría</label>
        <input type="number" min="1" max="10" class="form-control" id="categoria" required
            [(ngModel)]="empleado.categoria" name="categoria" #categoria="ngModel" pattern="^(?:[1-9]|0[1-9]|10)$">
    </div>

    <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
        <div *ngIf="categoria.errors.required">La categoría es obligatoria.</div>
        <div *ngIf="categoria.errors.pattern">La categoría debe estar comprendida entre 1 y 10 inclusive</div>

    </div>
    <div *ngIf="categoria.valid" class="alert alert-success">
        Categoria Válida
    </div>

    <div class="form-group">
        <label for="anyos">Años trabajados</label>
        <input type="number" class="form-control" min="0" pattern="[0-9]{0,2}" id="anyos" required
            [(ngModel)]="empleado.anyos" name="anyos" #anyos="ngModel">
    </div>

    <div *ngIf="anyos.invalid && (anyos.dirty || anyos.touched)" class="alert alert-danger">
        <div *ngIf="anyos.errors.required">Los años trabajados son válidos y deben ser positivos</div>
        <div *ngIf="anyos.errors.pattern">Los años deben ser positivos y menor de 99 años</div>
    </div>
    <div *ngIf="anyos.valid" class="alert alert-success">
        Años Trabajados Válidos
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!empForm.form.valid">Add</button>
</form>