<h3>Alta de empleado</h3>
<form name="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" class="form-control" id="dni" required [(ngModel)]="empleado.dni" name="dni">
    </div>

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="empleado.nombre" name="nombre">
    </div>

    <div class="form-group">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" id="sexo" required [(ngModel)]="empleado.sexo" name="sexo" pattern="[MF]{1}">
    </div>

    <div class="form-group">
        <label for="categoria">Categoría</label>
        <input type="number" min="1" max="10" class="form-control" id="categoria" required [(ngModel)]="empleado.categoria" name="categoria">
    </div>

    <div class="form-group">
        <label for="anyos">Años trabajados</label>
        <input type="number" class="form-control" min="0" id="anyos" required [(ngModel)]="empleado.anyos" name="anyos">
    </div>

    <button type="submit" class="btn btn-success" >Add</button>
</form>